{% extends 'base.html.twig' %}

{% block title %}Chef TITAH{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1 class = " text-5xl text-white text-center p-20">Mostafa TITAH</h1>

<div class="flex bg-transparent shadow-lg rounded-lg p-20 ">
<img class="w-32 h-32 object-cover rounded-full mr-6"  src="{{ asset ('image/chef.jpg')}}"  alt="">
<div>
<p class="text-white">

     Est un chef cuisinier passionné avec plus de quinze ans d'expérience dans la gastronomie française.
    Après avoir obtenu son diplôme de l'École de Cuisine de Paris,
    il a affiné ses compétences en travaillant dans plusieurs restaurants étoilés Michelin à travers la France.
    Jean est reconnu pour sa maîtrise des techniques culinaires traditionnelles et son innovation constante dans la création de plats uniques.
    Sa philosophie culinaire repose sur l'utilisation d'ingrédients locaux et de saison,
    qu'il transforme en œuvres d'art culinaires avec une attention méticuleuse aux détails et une présentation impeccable.
    Son engagement envers l'excellence et son amour pour la cuisine font de lui un chef exceptionnel, apprécié tant par ses pairs que par ses clients.
    Actuellement chef exécutif au restaurant Le Gourmet, 
    Jean continue de surprendre et de ravir les papilles de ses convives avec des menus qui célèbrent la richesse et la diversité de la cuisine française.

</p>
</div>
</div>
{% endblock  %}