{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}-Recipes
{% endblock %}

{% block body %}

<h1 class= "text-center text-5xl p-5" > Recipes </h1>

{{ include ('card.html.twig') }}








{% endblock %}