@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../image/roam-in-color-zzMb7jacyBc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}

