{% extends 'base.html.twig' %}

{% block title %}Add Recipe{% endblock %}

{% block body %}
<h1 class= " text-4xl text-center">Add New Recipe</h1>


<div class= "w-full  px-4 sm:w-1/2  mx-auto">{{ form (newrecipeform)}}</div>

{% endblock %}
