
   
        <ul class="text-center  px-14">
        <div class="container  p-4">  
           <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for recipe in recipes %}
            <div class="bg-white  shadow-md rounded-lg overflow-hidden">
                <div class="p-5">
                <h3 class="text-3xl bg-gray-500 text-black p-5">{{ recipe.title }}</h3>
                <div class="m-3 h-auto">
                <img  src="{{ asset ('image/tajin.jpg')}}"  alt="">
                </div>
                <p class="text-3xl text-black p-5" >{{ recipe.content }}</p>
               </div>
            </div>
        {% else %}
            <li>No Recipe found for this category.</li>
        {% endfor %}

    </div>
    </div>
    </ul>